body{
 font-family: Arial;
 margin:0;
 background:#fff0f5;
 text-align:center;
}

/* TOP NAV */
.top-nav{
 background:#ff3366;
 padding:15px;
}
.top-nav a, .top-nav h2{
 color:white;
 margin:10px;
 text-decoration:none;
 display:inline-block;
}

/* SUB NAV */
.sub-nav{
 background:#ffd6e0;
 padding:10px;
}
.sub-nav a{
 margin:10px;
 text-decoration:none;
 color:#ff3366;
 font-weight:bold;
}

/* CARD */
.card{
 background:white;
 width:80%;
 max-width:600px;
 margin:40px auto;
 padding:25px;
 border-radius:12px;
 box-shadow:0 0 12px gray;
 text-align:left;
}

.card h2{
 color:#ff3366;
}

button{
 background:#ff3366;
 color:white;
 border:none;
 padding:10px 18px;
 margin:8px;
 border-radius:8px;
 cursor:pointer;
}

button:hover{
 background:#e6004c;
}

.dark-mode {
  background-color: #121212 !important;
  color: white !important;
}

.dark-mode .card {
  background-color: #1e1e1e;
  color: white;
}


/* AUDIO BUTTONS */
.audio-controls{
 text-align:center;
 margin:15px 0;
}

/* SOS */
.sos{
 background:red;
 font-size:22px;
 padding:18px;
}
